<div class="container text-center">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h1>CONTACT US</h1>
      <h4>Please contact us with any questions or feedback and we will try to get back to you as soon as we can !!!</h4>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
<div class="well">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
        <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" class="form-control" id="inputfirstname" placeholder="First Name">
              </div>
              <div class="form-group col-md-6">
                <input type="text" class="form-control" id="inputlastname" placeholder="Last Name">
              </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                  <input type="email" class="form-control" id="inputemail" placeholder="Email">
                </div>
                <div class="form-group col-md-6">
                  <input type="text" class="form-control" id="inputsubject" placeholder="Subject">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
              <textarea class="form-control" id="inputtextarea" rows="3" placeholder="Write Your Message Here..."></textarea>
            </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
            <button type="submit" class="btn btn-primary">SUBMIT</button>
            </div></div>
        </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>