<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" routerLink="/">{{title}}</a>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right" routerLinkActive="active">
          <li><a  routerLink="/home"  routerLink="home">HOME<span class="sr-only">(current)</span></a></li>
          <li><a  routerLink="/about"  routerLink="about">ABOUT</a></li>
          <li><a  routerLink="/foodbank"  routerLink="foodbank">FIND A FOOD BANK</a></li>
          <li><a  routerLink="/community"  routerLink="community">COMMUNITY</a></li>
          <li><a  routerLink="/contact"  routerLink="contact">CONTACT</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </nav>
<router-outlet></router-outlet>
<app-footer></app-footer>
